@model DSR_N2.Models.UserWithGeslo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserWithGeslo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priimek" class="control-label"></label>
                <input asp-for="Priimek" class="form-control" />
                <span asp-validation-for="Priimek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum_Roj" class="control-label"></label>
                <input asp-for="Datum_Roj" class="form-control" />
                <span asp-validation-for="Datum_Roj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kraj_Roj" class="control-label"></label>
                <input asp-for="Kraj_Roj" class="form-control" />
                <span asp-validation-for="Kraj_Roj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Starost" class="control-label"></label>
                <input asp-for="Starost" class="form-control" />
                <span asp-validation-for="Starost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postna_Stevilka" class="control-label"></label>
                <input asp-for="Postna_Stevilka" class="form-control" />
                <span asp-validation-for="Postna_Stevilka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drzava" class="control-label"></label>
                <input asp-for="Drzava" class="form-control" />
                <span asp-validation-for="Drzava" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

